
<div class="container">
    
    {% for plant in current_user.plant %}
    <div>
    <h3>{{ plant.name }}'s details:</h3> 

    <ul class="list-group">
        <li class="list-group-item">Plant Nickname: {{ plant.name }}</li>
        <li class="list-group-item">Room: {{ plant.room }}</li>
        <li class="list-group-item">Plant Type: {{ plant.plant_type }}</li>
        <li class="list-group-item">Light: {{ plant.light }}</li>
        <li class="list-group-item">Description: {{ plant.description }}</li>
        <li class="list-group-item">Water: {{ plant.water }}</li>
        <li class="list-group-item">Fertilizer: {{ plant.fertilizer }}</li>
        <li class="list-group-item">Humidity: {{ plant.humidity }}</li>
        <li class="list-group-item">Pests: {{ plant.pests }}</li>
        <li class="list-group-item">Fun Fact: {{ plant.fun_fact }}</li>
    </ul>
    <span>
        <a href="{{ url_for('auth.update_plant', plant_id=plant.id) }}" class="btn btn-outline-primary" role="button">
        Update
        </a>
        <a href="#" class="btn btn-outline-primary" role="button">
        Delete
        </a>
    </span>
    </div>
    
    {% endfor %}

    
</div>