
<div class="container">
    

    <div>
    <h3>{{ current_user.plant[0].name }}'s details:</h3> 
    <ul class="list-group">
        <li class="list-group-item">Plant Nickname: {{ current_user.plant[0].name }}</li>
        <li class="list-group-item">Plant: {{ current_user.plant[0].name }}</li>
        <li class="list-group-item">Room: {{ current_user.plant[0].room }}</li>
        <li class="list-group-item">Plant Type: {{ current_user.plant[0].plant_type }}</li>
        <li class="list-group-item">Light: {{ current_user.plant[0].light }}</li>
        <li class="list-group-item">Description: {{ current_user.plant[0].description }}</li>
        <li class="list-group-item">Water: {{ current_user.plant[0].water }}</li>
        <li class="list-group-item">Fertilizer: {{ current_user.plant[0].fertilizer }}</li>
        <li class="list-group-item">Humidity: {{ current_user.plant[0].humidity }}</li>
        <li class="list-group-item">Pests: {{ current_user.plant[0].pests }}</li>
        <li class="list-group-item">Fun Fact: {{ current_user.plant[0].fun_fact }}</li>
    </ul>
    </div>
    <div>
    <h3>{{ current_user.plant[1].name }}'s details:</h3> 
    <ul class="list-group">
        <li class="list-group-item">Plant Nickname: {{ current_user.plant[1].name }}</li>
        <li class="list-group-item">Plant: {{ current_user.plant[1].name }}</li>
        <li class="list-group-item">Room: {{ current_user.plant[1].room }}</li>
        <li class="list-group-item">Plant Type: {{ current_user.plant[1].plant_type }}</li>
        <li class="list-group-item">Light: {{ current_user.plant[1].light }}</li>
        <li class="list-group-item">Description: {{ current_user.plant[1].description }}</li>
        <li class="list-group-item">Water: {{ current_user.plant[1].water }}</li>
        <li class="list-group-item">Fertilizer: {{ current_user.plant[1].fertilizer }}</li>
        <li class="list-group-item">Humidity: {{ current_user.plant[1].humidity }}</li>
        <li class="list-group-item">Pests: {{ current_user.plant[1].pests }}</li>
        <li class="list-group-item">Fun Fact: {{ current_user.plant[1].fun_fact }}</li>
    </ul>
    </div>
    
</div>