{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for cat, msg in messages %}
                {% if cat == 'user-created' %}
                    <div class="alert alert-success">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div class="container">
    <!-- HEADER SECTION -->
    <header class="row">
        <div class="col-12 col-md-6" id="header-hero-img">
            <div id="header-hero-text">
                <h2>Collect plants, share your collection & connect with other plant lovers!</h2>
                <h5>Keep your plants alive longer by organizing their care here.</h5>
                <div>
                    <button class="btn btn-primary">edit button</button>
                </div>
            </div>
        </div>
    </header>

    <!-- MIDDLE SECTION -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <!-- Make a chat page and connect using this button -->
            <h2>Share your Collection!</h2>
            <p>Every time you bring a new plant friend home, add it to your collection. Organize the care and fun facts to all of your green buddies!</p>
        </div>
    </section>
</div>



{% endblock content %}