/* BASE.HTML */
/* Nav Styles */
.ct-nav{
    display : flex;
    justify-content: space-between;
    /* margin-bottom: 10px; */
    /* took out to fix flash messages */
}
.ct-nav img{
    width: 75px;
    margin-left: 2vw;
}
ul#horizontal-list{
    min-width: 696px;
    list-style: none;
    padding: 20px;
}
ul#horizontal-list li, ul#horizontal-list a{
    display: inline;
    text-decoration: none;
    padding: 0.5vw;
    color: rgb(51, 90, 9)
}
ul#horizontal-list a:nth-last-child(1){
    border: 2px solid rgb(51, 90, 9);
    border-radius: 11px;
    margin-right: 0.2vw;
}
/* End of Nav Styles */

/* INDEX.HTML */
/* Hero Image */
#header-hero-img{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/index-header.jpg");
    height: 80%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: auto;
    text-align: center;
    position: relative;
    margin-top: 25vh;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#header-hero-text{
    padding-top: 10%;
    color: white;
}


/* start of middle section */
#middle-text{
    text-align: center;
    padding: 13vw;
}

#middle-text h2{
    padding: 1.5vw;
}
/* end of middle section */