{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for cat, msg in messages %}
                {% if cat == 'plant-created' %}
                    <div class="alert alert-success">
                        {{ msg }}
                        <button type='button' class='close' data-dismiss='alert'>&times;</button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<h1>Add a Plant to Your Collection Here 🌵</h1>
<main class="container">
    <div class="row">
        <aside class="col-12 col-md-6">
            <h3>Fill out form to add a new plant buddy to your Collection</h3>
            {% include 'plant_forms.html' %}
        </aside>
    </div>
</main>

{% endblock content %}